* {
    margin: 0;
    padding: 0;
}

:root {
    /* fuentes */
    --font1-title: "Kaushan Script", cursive;
    --font2-body: "M PLUS Rounded 1c", sans-serif;
    --font3-alert: "Sawarabi Gothic", sans-serif;

    /* color para fuentes */
    --color-font1: #2f2b2b;
    --color-font2: #e9e6f0;
    --color-font3: #551a1a;

    /* Paleta de colores */
    --color1: #f7edf07d;
    --color2: #dcccc8;
    --color3: #fff5f7;
    --color4: #efdee354;
    --color5: #a5bbd3;
}


/* Versión Móvil */
/* Grilla */
body {
    display: grid;
    grid-template-areas:
        "menu menu menu"
        "header header header"
        "abaout abaout abaout"
        "howBuy howBuy howbuy"
        "main main main"
        "pagination pagination pagination"
        "footer footer footer";
    grid-template-rows: 4rem 7rem 1fr auto auto 5rem;
}

/* Componented: */
/* Navbar */

header {
    grid-area: header;
    background-color: var(--color3);
    background-image: url("../imgs/fondoHeader.png");
    background-size: auto 85px;
    background-repeat: repeat-x;
    border-bottom: 2px solid var(--color5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-top: 4rem;
    font-family: var(--font1-title);
    color: var(--color-font3);
    font-size: 1.4rem;
}


/* Aside bar */

.menu {
    grid-area: menu;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-nav {
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 15px;
}

.menu-nav a {
    color: var(--color-font3);
    text-decoration: none;
    font-family: var(--font3-alert);
    font-size: 0.8rem;
    font-weight: bolder;
}

.menu-nav a:hover {
    color: var(--color5)
}

/* Card */
main {
    grid-area: main;
    background-color: var(--color1);
}

.howBuy {
    width: 92vw;
    grid-area: howBuy;
    margin: 10px;
    font-family: var(--font2-body);
    color: var(--color-font1);
    border-bottom: 2px solid var(--color5);
}

/* card de como comrpar */

.card-hb1,
.card-hb2,
.card-hb3 {
    display: flex;
    font-family: var(--font2-body);
    color: var(--color-font1);
    align-items: center;
    gap: 5px;
    box-shadow: 2px 2px 4px rgba(0.1, 0.2, 0.1, 0.3);
}

.card-hb1 {
    background-color: var(--color2);
}

.card-hb2 {
    background-color: var(--color3);
}

.card-hb3 {
    background-color: var(--color-font3);
    color: var(--color-font2)
}

.imgSearch,
.imgOrder,
.imgDelivery {
    width: 15rem;
    height: 7rem;
    background-size: cover;
    font-family: var(--color5);
    font-weight: bolder;
    font-size: 4rem;
    text-shadow: 4px 4px 6px var(--color5);
    margin: 5px;
    border: 1px solid var(--color5);
    border-radius: 15px;
}

.imgSearch {
    background-image: url(../imgs/img1.png);
}

.imgOrder {
    background-image: url(../imgs/img2.png);
}

.imgDelivery {
    background-image: url(../imgs/img3.png);
}

/* Animación para la card de Como comprar */

/* Definimos los keyframes para la animación de rebote */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.card-hb1:hover .imgSearch,
.card-hb2:hover .imgOrder,
.card-hb3:hover .imgDelivery {
    animation: bounce 1s;
}

.offer-banner {
    background-color: var(--color2);
    padding: 10px 20px;
    overflow: hidden;
    font-family: var(--font3-alert);
    font-size: 1rem;
    color: var(--color-font3);
}

.offer-text {
    animation: moveText 25s ease-out infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


h4 {
    text-align: center;
    font-family: var(--font3-alert);
    text-decoration: underline;
}

.container-products {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 5px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    background-color: white;
    height: 300px;
    border: 1px solid var(--color5);
    border-bottom: 5px solid #cccccc;
    border-radius: 10px;
    flex-direction: column;
    transition: opacity 1s ease;
}


.grid-item:hover {
    background-image: url('https://img1.picmix.com/output/stamp/thumb/1/9/4/9/1329491_83286.gif');
    opacity: 1;
    background-size: cover;
}


.img-products {
    height: 55%;
    border-bottom: 1px solid var(--color2);
}

.img-products img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* Transición */
    transition: filter 0.3s ease-in-out;
}

.img-products img:hover {
    filter: contrast(2);
}

.information-products {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font2-body);
    color: var(--color-font1);
    border-bottom: 1px solid var(--color2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.8rem;
}

.fa-heart {
    color: var(--color-font1);
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-heart:hover {
    color: red;
}

.about-us {
    grid-area: abaout;
    margin: 5px;
    border-bottom: 2px solid var(--color5);
    font-family: var(--font2-body);
    color: var(--color-font1);
}

h2 {
    margin: 10px;
    font-family: var(--font1-title);
    color: var(--color-font3);
}

/* paginación */

.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-div {
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-div:hover {
    background-color: var(--color5);
}


/* Footer */
footer {
    grid-area: footer;
    background-color: var(--color2);
    border-top: 2px solid var(--color5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: var(--font3-alert);
}

footer p,
.icons {
    text-align: center;
    color: var(--color-font1);
}

.icons-footer {
    margin: 5px;
    font-size: 2rem;
}

.icons-footer:hover {
    color: var(--color5);
}

/*  buttons */

.btn-buy {
    display: flex;
    flex-direction: column;
}

.btn-buy p {
    text-align: center;
    font-family: var(--font3-alert);
    color: var(--color-font3);
}

.grid-item button {
    background-color: var(--color5);
    border: none;
    color: var(--color-font3);
}

/* versión tablet */

@media (min-width: 576px) and (max-width: 991px) {
    body {
        grid-template-areas:
            "menu menu"
            "header header"
            "abaout howBuy"
            "main main"
            "main main"
            "pagination pagination"
            "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 4rem 2fr;
    }

    .container-products {
        height: 95%;
        margin: 15px 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }


    .howBuy {
        width: 94%;
        border: none;
    }

}


/* Versión escritorio */
/* Grilla */
@media (min-width: 992px) {
    body {
        grid-template-areas:
            "header header"
            "menu abaout"
            "menu howBuy"
            "menu main"
            "menu main"
            "footer main"
            "footer pagination";
        grid-template-columns: 15% 85%;
        grid-template-rows: 7rem 2fr;
    }

    .container-products {
        height: 95%;
        margin: 15px 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .card-hb1,
    .card-hb2,
    .card-hb3 {
        flex-direction: column;
    }

    .cards-hb {
        display: flex;
        gap: 15px;
    }

    .howBuy {
        width: 97%;
        border: none;
    }

    h1 {

        font-size: 2rem;
    }

    .menu {
        align-items: flex-start;
        flex-direction: column;
        position: static;
        z-index: 1;
        justify-content: flex-start;
    }

    .menu img {
        width: 8rem;
        height: 8rem;
    }

    .menu-nav {
        flex-direction: column;
    }

    .pagination {
        padding-bottom: 10px;
    }

}